{
    "extends": "@leadhome/eslint-config",
    "settings": {
      "import/resolver": {
        "node": {
          "paths": [
            "node_modules",
            "src",
            "components",
            "config",
            "containers",
            "styles"
          ]
        }
      }
    }
}
