.s1gkt9ir{height:70px;border-bottom:4px #FF6A70 solid;background-color:#51516F;padding:0 1rem;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#FFFFFF;font-size:20px;}
.s6x0s7b{-webkit-text-decoration:none;text-decoration:none;color:inherit;}
.suomohw{fill:#FFFFFF;margin-right:1rem;}
