<html>
  <head>
    <title>Carbon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.publicPath %>/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.publicPath %>/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.publicPath %>/favicon-16x16.png">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.publicPath %>/site.webmanifest">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.publicPath %>/safari-pinned-tab.svg" color="#ff6a70">
    <meta name="msapplication-TileColor" content="#51516f">
    <meta name="theme-color" content="#51516f">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i' rel='stylesheet'>
  </head>
  <body>
    <div id='root'></div>
  </body>
</html>
